*, html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: black;
}
.dark {
    color: white;
    background-color: black;
    
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

nav {
    position: fixed;
    bottom: 0;
    background-color: black;
    width: 100%;
    padding: 15px;

}
nav a {
    color: white;
    padding: 15px;
    text-decoration: none;
    font-weight: 700;
}

nav a:hover {
    background: tomato;
    cursor: pointer;
    transition: background-color .5s ;
}

.info {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10%;
    font-weight: 700;
    animation: jedagJedug .5s infinite ;
}

@keyframes jedagJedug {
    0% {
        font-size: 16px;
    }

    50% {
        font-size: 18px;
    }

    100% {
        font-size: 16px;
    }
}